.content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 800px;
    height: 350px;
    gap: 45px;
    box-sizing: border-box;
}

.contentHeader {
    margin-left: 20px;
}

.contentHeader h1 {
    font-size: 18px;
    margin-bottom: 0;
}

.contentHeader span {
    font-size: 14px;
    color: #666;
}

.contenBody {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 80px;

}

.nameAndIcon {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.nameAndIcon>span {
    width: 90px;
    flex-shrink: 0;
    font-size: 14px;
    margin-right: 0;
}

.nameInput {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 8px;
}

.nameInput input {
    flex: 1;
    height: 32px;
    border-radius: 8px;
    outline: none;
    background-color: #f5f7fa;
    border: 1px solid #f5f7fa;
}

.nameAndIcon .iconBox {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: #FFE8D6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.description span {
    width: 90px;
    flex-shrink: 0;
    font-size: 14px;
    margin-right: 0;
}

.description textarea {
    flex: 1;
    height: 72px;
    border-radius: 8px;
    outline: none;
    background-color: #f5f7fa;
    border: 1px solid #f5f7fa;
    padding: 8px 12px;
    box-sizing: border-box;
    resize: none;
    font-size: 14px;
    line-height: 1.6;
}

.description textarea::placeholder {
    font-size: 13px;
    color: #999;
    font-weight: 300;
    line-height: 1.6;
}

.permission {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.permission>span {
    width: 90px;
    flex-shrink: 0;
    font-size: 14px;
    margin-right: 0;
}

.permissionInput {
    flex: 1;
    height: 40px;
    border-radius: 8px;
    background-color: #f5f7fa;
    border: 1px solid #f5f7fa;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 14px;
    box-sizing: border-box;
}

.permissionLeft {
    display: flex;
    align-items: center;
    gap: 12px;
}

.permissionInput .D {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #2563eb;
    color: #fff;
    font-size: 14px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
}

.permissionText {
    font-size: 14px;
    color: #111;
}

.arrowIcon {
    font-size: 12px;
    color: #9ca3af;
    flex-shrink: 0;
}

.underline {
    height: 1px;
    width: 100%;
    background-color: #f5f7fa;
}

.save {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: #2563eb;
    margin-left: 210px;
    color: #fff;
}